@page "/ConsultaArticulos"
@using ProyectoCMSR.Shared.DTOS
@inject HttpClient Http
@inject NavigationManager nav

<MudCardActions>
    <MudButton class="text-white" Style="background-color:steelblue" OnClick="IrACrearArticulo" aria-label="create">Crear Artículo</MudButton>
</MudCardActions>

<h3 class="text-2xl font-semibold mb-4">Artículos</h3>

@if (articulos == null)
{
    <p class="text-gray-500 mt-4"><em>Cargando artículos...</em></p>
}
else if (!articulos.Any())
{
    <p class="text-gray-700 mt-4">No hay artículos disponibles.</p>
}
else
{
    <MudGrid>
        @foreach (var art in articulos)
        {
            <MudItem xs="12" sm="6" md="4" lg="3">
                <MudCard>
                    <MudCardMedia Image="@GetImageSource(art.ImagenPrincipal)" />
                    <MudCardContent>
                        <MudText Typo="Typo.h6" class="font-semibold text-lg">@art.Titulo</MudText>
                        <MudText Typo="Typo.body2" class="text-sm">@art.Autor</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <a class="btn btn-sm btn-outline-primary flex items-center space-x-2" href="CrearArticulos/@art.Id">
                            <i class="fa fa-eye"></i>
                            <span>Ver</span>
                        </a>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}

@code {
    private List<Articulos_M> articulos = new List<Articulos_M>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            articulos = await Http.GetFromJsonAsync<List<Articulos_M>>("api/articulos/getArticulos");
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error al cargar datos: {ex.Message}");
        }
    }

    private string GetImageSource(string base64Image)
    {
        return $"data:image/png;base64,{base64Image}";
    }

    public void IrACrearArticulo()
    {
        nav.NavigateTo("/CrearArticulos");
    }
}
